.reveal .slides > section, 
.reveal .slides > section > section {
  padding: 0;
}

@keyframes arrowblink {
  to {
    border-left-color: lime;
  }
}

.reveal {

  aside.controls {
    .refresh-button {
      top: 30px;
      left: 32px;
      color: #42affa;
      width: auto;
      height: auto;
      font-size: 24px;
      opacity: 1;
    }
    
    .navigate-right.ready-to-advance {
        animation: arrowblink 0.5s linear alternate infinite;
    }
  }
}

.audio-options {
  position: fixed;
  z-index: 10;
  top: 5px;
  right: 5px;
  
  .mute-button {
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    color: #efefef;
  }
}

canvas {
  display: inline-block;
  vertical-align: middle !important;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  &.fullscreen {
    position: absolute;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
  }
}

#titleSlide {
  h1 {
    font-size: 1.75em;
  }
  
  h2 {
    font-size: 1em;
  }
}

figure.keyboard-control-tutorial {
  display: inline-block;
  vertical-align: middle;
  margin-right: 100px;
  
  .key {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100px;
    width: 100px;
    border: 1px solid #ddd;
    margin: 5px 1px;
    border-radius: 5px;
    .label {
      position: absolute;
      top: 1px;
      left: 5px;
      font-size: 24px;
    }
    
    &.pressed {
      color: lime;
      border-color: lime;
    }
  }
  
  @media screen and (max-width: 1024px) {
    display: none;
  }
}

@keyframes lefthand {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(225px);
  }
}

@keyframes uphand {
  from {
    transform: rotate(10deg) translateX(0px);
  }
  to {
    transform: rotate(10deg) translateX(225px);
  }
}

@keyframes downhand {
  from {
    transform: rotate(-5deg) translateX(225px);
  }
  to {
    transform: rotate(-5deg) translateX(0px);
  }
}

@keyframes testparticle {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-150px);
  }
}

figure.introduction-diagrams {
  position: relative;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  i {
    position: absolute;
    
    &.edge-hand {
      color: red;
      animation: uphand 0.5s linear infinite alternate;
      
      &.fa-hand-o-up {
        top: 295px;
        left: 150px;
        animation-name: uphand;
      }
      &.fa-hand-o-down {
        top: 80px;
        left: 150px;
        animation-name: downhand;
      }
      &.fa-hand-o-left {
        top: 100px;
        right: 25px;
        animation-name: lefthand;
      }
    }
    
    &.test-particle {
      font-size: 20px;
      color: red;
      top: 175px;
      left: 300px;
      
      &.go {
        animation: testparticle 10s linear infinite alternate;
      }
    }
  }
  
  img {
    max-width: 600px;
  }
}

figure.game-logos {
  position: relative;
  height: 700px;
  img {
    position: absolute;
    
     &.asteroids-arcade {
       max-width: 400px;
       top: 20px;
       left: 10px;
     }
    
     &.pacman {
       max-width: 400px;
       top: 100px;
       left: 250px;
     }
    
     &.portal-physics {
       max-width: 500px;
       background: #efefef;
       top: 250px;
       left: 500px;
     }
    
     &.portal-logo {
       max-width: 350px;
       background: #efefef;
       top: 160px;
       right: 10px;
     }
  }
}

@keyframes shapeimgpulse {
  0%, 100% {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.75);
  }
  50% {
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.75);
  }
}

figure.possible-shapes {
  display: flex !important;
  justify-content: space-around;
  align-items: center;
  .shape-container {
    text-align: center;
    img {
      display: block;
      background: #fff;
      border-radius: 5px;
      max-height: 250px;
      max-width: 300px;
      margin: 0 auto;
      
      &.pulse {
        animation: shapeimgpulse 2.0s linear;
      } 
    }
  }
  
  &.out-there {
    position: absolute;
    top: -100px;
    left: 20px;
    right: 20px;
    justify-content: space-between;
    
    .shape-container {
      img {
        max-height: 200px;
        max-width: 300px;
      }
    }
  }
}

figure.folded-photos {
  height: 700px;
}

#secondReview,#corrections{ 
  ul {
    width: 800px;
  }
}

.infinite-math {
  .math-row {
    text-align: center;
    margin: 30px auto;
    div {
      font-size: 48px;
      display: inline-block;
      margin: 0 30px;
    }
  }
}

#credits {
  // transform: scale(0.9);
  // transform-origin: center 0px;
  
  h2 {
    font-size: 0.75em;
    margin: 0px auto;
  }
  
  h3 {
    font-size: 0.75em;
    margin: 20px auto 0px;
  }
  
  .credits-column {
    // display: inline-block;
    // width: 40%;
    // vertical-align: top;
  }

  .reviewer-credits {
    margin-top: 10px;
    font-size: 0.5em;
  }
  
  .image-credits {
    figure {
      display: inline-block;
      margin: 0 10px;
      img {
        max-width: 80px;
        margin: 10px auto 0px;
      }
      figcaption {
        font-size: 0.4em;
      }
    }
  }
  
  .icon-credits {
    figure {
      margin: 0 20px;
      img {
        max-width: 100px;
        max-height: 100px;
      }
      figcaption {
        font-size: 0.5em;
      }
    }
  }
}