.reveal .slides > section,
.reveal .slides > section > section {
  padding: 0; }

@keyframes arrowblink {
  to {
    border-left-color: lime; } }

.reveal aside.controls .refresh-button {
  top: 30px;
  left: 32px;
  color: #42affa;
  width: auto;
  height: auto;
  font-size: 24px;
  opacity: 1; }

.reveal aside.controls .navigate-right.ready-to-advance {
  animation: arrowblink 0.5s linear alternate infinite; }

.audio-options {
  position: fixed;
  z-index: 10;
  top: 5px;
  right: 5px; }
  .audio-options .mute-button {
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    color: #efefef; }

canvas {
  display: inline-block;
  vertical-align: middle !important; }

figure.keyboard-control-tutorial {
  display: inline-block;
  vertical-align: middle;
  margin-right: 100px; }
  figure.keyboard-control-tutorial .key {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100px;
    width: 100px;
    border: 1px solid #ddd;
    margin: 5px 1px;
    border-radius: 5px; }
    figure.keyboard-control-tutorial .key .label {
      position: absolute;
      top: 1px;
      left: 5px;
      font-size: 24px; }
    figure.keyboard-control-tutorial .key.pressed {
      color: lime;
      border-color: lime; }
  @media screen and (max-width: 1024px) {
    figure.keyboard-control-tutorial {
      display: none; } }

@keyframes lefthand {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(225px); } }

@keyframes uphand {
  from {
    transform: rotate(10deg) translateX(0px); }
  to {
    transform: rotate(10deg) translateX(225px); } }

@keyframes downhand {
  from {
    transform: rotate(-5deg) translateX(225px); }
  to {
    transform: rotate(-5deg) translateX(0px); } }

@keyframes testparticle {
  0% {
    transform: translateX(0px); }
  100% {
    transform: translateX(-150px); } }

figure.introduction-diagrams {
  position: relative;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto; }
  figure.introduction-diagrams i {
    position: absolute; }
    figure.introduction-diagrams i.edge-hand {
      color: red;
      animation: uphand 0.5s linear infinite alternate; }
      figure.introduction-diagrams i.edge-hand.fa-hand-o-up {
        top: 295px;
        left: 150px;
        animation-name: uphand; }
      figure.introduction-diagrams i.edge-hand.fa-hand-o-down {
        top: 80px;
        left: 150px;
        animation-name: downhand; }
      figure.introduction-diagrams i.edge-hand.fa-hand-o-left {
        top: 100px;
        right: 25px;
        animation-name: lefthand; }
    figure.introduction-diagrams i.test-particle {
      font-size: 20px;
      color: red;
      top: 175px;
      left: 300px; }
      figure.introduction-diagrams i.test-particle.go {
        animation: testparticle 10s linear infinite alternate; }
  figure.introduction-diagrams img {
    max-width: 600px; }

@keyframes shapeimgpulse {
  0%, 100% {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.75); }
  50% {
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.75); } }

figure.possible-shapes {
  display: flex !important;
  justify-content: space-around;
  align-items: center; }
  figure.possible-shapes .shape-container {
    text-align: center; }
    figure.possible-shapes .shape-container img {
      display: block;
      background: #fff;
      border-radius: 5px;
      max-height: 250px;
      max-width: 400px;
      margin: 0 auto; }
      figure.possible-shapes .shape-container img.pulse {
        animation: shapeimgpulse 2.0s linear; }
  figure.possible-shapes.out-there {
    position: absolute;
    top: -100px;
    left: 20px;
    right: 20px;
    justify-content: space-between; }
    figure.possible-shapes.out-there .shape-container img {
      max-height: 200px;
      max-width: 300px; }

#secondReview ul, #corrections ul {
  width: 800px; }
