body {
  margin: 0; }

figure {
  box-sizing: border-box;
  margin: 0;
  width: 1024px;
  height: 768px;
  position: relative;
  overflow: hidden; }
  figure * {
    position: absolute; }

.up-ship {
  top: 50px;
  left: 473px; }

.fa-long-arrow-up {
  color: green;
  left: 500px; }
  .fa-long-arrow-up.up-arrow-top {
    top: -50px; }
  .fa-long-arrow-up.up-arrow-bottom {
    bottom: -25px; }

.side-ship {
  transform: rotate(90deg);
  right: 100px;
  top: 373px; }

.fa-long-arrow-right {
  color: red;
  top: 400px; }
  .fa-long-arrow-right.right-arrow-right {
    right: -50px; }
  .fa-long-arrow-right.right-arrow-left {
    left: -25px; }

@media print {
  @page {
    size: 524px 768px;
    margin: 0; } }
