.reveal .slides > section,
.reveal .slides > section > section {
  padding: 0; }

aside.controls .refresh-button {
  top: 30px;
  left: 32px;
  color: #42affa;
  width: auto;
  height: auto;
  font-size: 24px;
  opacity: 1; }

.keyboard-control-tutorial .key {
  height: 50px;
  width: 50px;
  border: 1px solid #ddd; }
